form {
    width: 580px;
    margin: 20px auto;
}

label {
    width: 225px;
    display: inline-block;
    cursor: pointer;
}

fieldset {
    border: 3px double #ccc;
    border-radius: 3px;
    margin: 20px 0;
    padding: 20px;
    background: #ffeecc;
}
